.main {
	&__topContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 8px;

		h1 {
			font-size: var(--title-font-size);
		}
	}

	&__mainContainer {
		width: 100%;
	}
}
