.background {
	width: 100vw;
	min-height: 100vh;
	height: fit-content;
	background-color: var(--bg-blue-color);
}

.layout {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	height: 100vh;

	&__aside {
		padding-top: 80px;
		width: 160px;
	}

	&__content {
		padding-top: 80px;
		width: 100%;
		height: calc(100vh);
		padding-bottom: 20px;
		overflow: auto;

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar {
			display: none;
			width: 8px;
			height: 8px;
			background: transparent;
		}
	}

	&__wrapper {
		width: 896px;
		margin: 0 auto;
	}
}
