.background {
	width: 100vw;
	min-height: 100vh;
	height: fit-content;
	background-color: var(--bg-blue-color);
}

.layout {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: 0 auto;
	padding: 80px 0;
	height: 100vh;

	&__aside {
		width: 160px;
	}

	&__content {
		width: 100%;
		height: calc(100vh - 80px);
		padding-bottom: 80px;
		overflow: auto;

		&::-webkit-scrollbar-button {
			display: none;
		}

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--grey-color);
			border-radius: 8px;
			border: 2px solid transparent;
			background-clip: content-box;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}
	}

	&__wrapper {
		width: 896px;
		margin: 0 auto;
	}
}
